html {
  scroll-behavior: smooth;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: green;
  color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
  height: 30px;
}

.nav-links{
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.imageContainer{
  display: inline-flex;
  overflow: hidden;
  width: 100%;
  height: 400px;
  background-color: #E6F8F3;
}

#profile,
#cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.nameAndBio{
  display: flex;
}

h1 {
  text-align: center;
  border: 5px solid green;
}

#bio{
  text-align: left;
  justify-content: center;
  align-items: center;
}

em {
  font-size: 30px;
}
#bioTitle {
  display: block;
  text-align: center;
}

section {
  scroll-margin-top: 70px; /* adjust if navbar height changes */
}

#aboutMe{
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
}

#aboutMeText {
  display: flex;
  flex-direction: column;
}

#aboutMeTitle,
#aboutMeIntro {
  padding: 15px;
  background-color: #7FFFD4; /* Adds a border around the content */
}

#quoteOne{
  font-size: 30px;
  font-family: 'Candy Script', cursive;
  color: white;
  background-color:#EFBF04; /* Adds a border around the content */
    padding: 15px;         /* Adds space between the text and the border */
    width: 300px;          /* Sets a specific width for the box */
    height: 300px;

    display: flex;
  align-items: center;      /* vertical centering */
  justify-content: center;  /* horizontal centering */
  text-align: left;         /* keeps text left-justified */
}
