html {
  scroll-behavior: smooth;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: green;
  z-index: 1000;
  padding: 10px 0;
  height: 60px;
display: flex;
align-items: center;
}

.nav-links{
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
 padding: 0;
 margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}
.imageContainer{
  display: inline-flex;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

#profile,
#cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.nameAndBio{
  display: flex;
}

h1 {
  text-align: center;
  border: 5px solid green;
}

#bio{

  text-align: justify;
}

em {
  font-size: 30px;
}
#bioTitle {
  display: block;
  text-align: center;
}

section {
  scroll-margin-top: 70px; /* adjust if navbar height changes */
  padding: 40px 20px;
}

h3{
  text-align: center;
}
