html {
  scroll-behavior: smooth;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: green;
  z-index: 1000;
  padding: 10px 0;
}

.nav-links{
  display: flex;
  justify-content: space-between;
}

.imageContainer{
  display: inline-flex;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

#profile{
 flex: 1;

}
#cover{
 flex:2;
}

.nameAndBio{
  display: flex;
}

h1 {
  text-align: center;
  border: 5px solid green;
}

#bio{

  text-align: justify;
}

em {
  font-size: 30px;
}

#bioTitle{
    text-align: center;
}

section {
  scroll-margin-top: 80px; /* adjust if navbar height changes */
  padding: 40px 20px;
}

h3{
  text-align: center;
}
