html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  border: 5px solid green;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: green;
  color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
  height: 30px;
}

.nav-links{
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.imageContainer{
  display: inline-flex;
  overflow: hidden;
  width: 100%;
  height: 400px;
  background-color: #E6F8F3;
}

#profile,
#cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.nameAndBio{
  display: flex;
}

#bio{
  display: flex;
   align-items: center;      /* vertical centering */
   justify-content: center;  /* horizontal centering */
   text-align: left;
  padding: 15px;
  line-height: 1.5;
}

em {
  font-size: 30px;
}

#bioTitle {
  display: block;
  text-align: center;
}

section {
  scroll-margin-top: 70px; /* adjust if navbar height changes */
}

#aboutMe{
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: stretch;
}

#aboutMeText {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #DFF7F9;
  line-height: 1.5;
}


#quoteOne{
  font-size: 52px;
  font-family: 'Candy Script', cursive;
  color: white;
  background-color:#EFBF04;
    padding: 15px;         /* Adds space between the text and the border */
    width: 300px;          /* Sets a specific width for the box */

    display: flex;
  align-items: center;      /* vertical centering */
  justify-content: center;  /* horizontal centering */
  text-align: left;         /* keeps text left-justified */
}

#workPicAndText {
  display: flex;
  align-items: center;   /* aligns image with text block */
  gap: 30px;
  margin: 0 auto;
  text-align: left;
  line-height: 1.5;
}

/* Circular image stays the same */
#workPic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #7FFFD4;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Text column */
#workText {
  display: flex;
  flex-direction: column;
}

#workTitle {
  margin-bottom: 10px;
}

table {
  border: 2px solid black;
}
