html {
  scroll-behavior: smooth;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: green;
  color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
  height: 30px;
}

.nav-links{
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}
.imageContainer{
  display: inline-flex;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

#profile,
#cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.nameAndBio{
  display: flex;
}

h1 {
  text-align: center;
  border: 5px solid green;
}

#bio{

  text-align: justify;
}

em {
  font-size: 30px;
}
#bioTitle {
  display: block;
  text-align: center;
}

section {
  scroll-margin-top: 70px; /* adjust if navbar height changes */
}

h3{
  text-align: center;
}
